<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header class="header"><%- include('../partials/header') %></header>
    <main class="d-flex justify-content-center bg-image-create w-100">
        <div class="my-5 text-center w-h-create">
            <h1 class="rounded-top-3 text-center container bg-5 mb-0 text-primary">
                Publica un producto:
            </h1>
            <form action="/products/create" method="post" enctype="multipart/form-data"
                class="container flex-column bg-5 rounded-bottom-3">
                <div class="mb-3 text-center">
                    <label for="productName" class="form-label text-primary">Nombre del producto:</label>
                    <input type="text" name="name" class="form-control text-primary bg-black border-primary <%= locals.errors && errors.name
                        ? " is-invalid" : null %>"
                    id="productName"
                    placeholder="Ingrese un nombre"
                    required
                    value="<%= locals.oldData ? oldData.name : null %>"/> <% if (locals.errors && errors.name) { %>
                            <p class="text-danger text-start">
                                *<%= errors.name.msg %>
                            </p>
                            <% } %>
                </div>
                <div class="mb-3 text-center">
                    <label for="productPrice" class="form-label text-primary">Precio del producto:</label>
                    <input type="number" name="price" class="form-control text-primary bg-black border-primary <%= locals.errors && errors.price
                        ? " is-invalid" : null %>"
                    id="productPrice"
                    placeholder="Ingrese un precio"
                    required
                    step="0.01"
                    value="<%= locals.oldData ? oldData.price : null %>"/> <% if (locals.errors && errors.price) { %>
                            <p class="text-danger text-start">
                                *<%= errors.price.msg %>
                            </p>
                            <% } %>
                </div>
                <div class="mb-3 text-center">
                    <label for="productBrand" class="form-label text-primary">Marca del producto:</label>
                    <select type="text" name="brand_id" class="form-control text-primary bg-black border-primary <%= locals.errors && errors.brand
                        ? " is-invalid" : null %>"
                        id="productBrand"
                        required
                        > 
                        <option value="" <% if (!locals.errors) { %>
                            <%= "selected" %>
                            <% } %> disabled>Seleccione una marca</option>
                        <% for (let i = 0; i < brand.length; i++) { %>
                            <option value="<%= brand[i].id %>" <% if (locals.errors && brand[i].id == oldData.brand_id) { %> 
                                <%="selected"%> 
                                <% } %>> <%= brand[i].name %>
                            </option>
                            
                            <% } %>
                       
                      </select>

                      <% if (locals.errors && errors.brand) { %>
                                <p class="text-danger text-start">
                                    *<%= errors.brand.msg %>
                                </p>
                                <% } %>
                </div>

                <div class="my-4 text-center">
                    <label for="newBrand" class="form-check-label text-primary mx-1">¿Desea agregar otra marca?</label>
                    <input type="checkbox" class="form-check-input text-primary bg-black border-primary" id="newBrand"
                        <%=locals.oldData && (oldData.inSale=="on" ) ? "checked" : null %>
                    />
                    <div class="mt-3 text-center" id="oferta">
                        <label for="addBrand" class="form-label text-primary">Ingrese la nueva marca</label>
                        <div class="d-flex">
                            <input type="text" name="addbrand" class="form-control text-primary bg-black border-primary <%= locals.errors && errors.brand
                        ? " is-invalid" : null %>"
                            id="addBrand"
                            placeholder="Ingrese nombre de la marca"
                            value="<%= locals.oldData ? oldData.brand : "" %>"/>
            
                                <% if (locals.errors && errors.brand) { %>
                                    <p class="text-danger text-start ">
                                        *<%= errors.brand.msg %>
                                    </p>
                                    <% } %>
                        </div>
                    </div>
                </div>

                <div class="mb-3 text-center">
                    <label for="productCategory" class="form-label text-primary">Categoría:</label>
                    <select class="form-select text-primary bg-black border-primary <%= locals.errors && errors.categories
                        ? " is-invalid" : null %>"
                        aria-label="Default select example"
                        name="category_id"
                        required
                        >
                        <option value="" <% if (!locals.errors) { %>
                            <%= "selected" %>
                            <% } %> disabled>
                            Sin categoría
                        </option>

                        <<% for (let i = 0; i < categories.length; i++) { %>
                            <option value="<%= categories[i].id %>" <% if (locals.errors && categories[i].id == oldData.category_id) { %> 
                                <%="selected"%> 
                                <% } %> 
                                ><%= categories[i].name %></option>
                            
                            <% } %>
                                
                    </select>

                    <% if(locals.errors && errors.categories) { %>
                        <p class="text-danger text-start">
                            *<%= errors.categories.msg %>
                        </p>
                        <% } %>


                </div>
                <div class="my-4 text-center">
                    <label for="enOferta" class="form-check-label text-primary mx-1">¿Está en oferta?
                    </label>
                    <input type="checkbox" class="form-check-input text-primary bg-black border-primary" id="enOferta"
                        <%=locals.oldData && (oldData.inSale=="on" ) ? "checked" : null %>
                    />
                    <div class="mt-3 text-center" id="oferta">
                        <label for="productDiscount" class="form-label text-primary">Descuento de oferta:</label>
                        <div class="d-flex">
                            <input type="number" name="discount" class="form-control text-primary bg-black border-primary <%= locals.errors && errors.discount
                        ? " is-invalid" : null %>"
                            id="productDiscount"
                            placeholder="Ingrese un porcentaje"
                            value="<%= locals.oldData ? oldData.discount : 0 %>"/>
                                <p class="text-primary position-relative porcentaje">
                                    %
                                </p>
                                <% if (locals.errors && errors.discount) { %>
                                    <p class="text-danger text-start ">
                                        *<%= errors.discount.msg %>
                                    </p>
                                    <% } %>
                        </div>
                    </div>
                </div>
                <div class="mb-3 text-center">
                    <label for="productImage" class="form-label text-primary">Imagen del producto:</label>
                    <input type="file" class="form-control text-primary bg-black border-primary" id="productImage"
                        name="image" multiple />
                    <% if (locals.errors && errors.image) { %>
                        <p class="text-danger-emphasis text-start">
                            *<%= errors.image.msg %>
                        </p>
                        <% } %>
                </div>
                <div class="mb-3 text-center">
                    <label for="productDescription" class="form-label text-primary">Descripción del producto:</label>
                    <textarea name="description" class="form-control text-primary bg-black border-primary <%= locals.errors && errors.description
                        ? " is-invalid" : null %>"
                            id="productDescription"
                            cols="30"
                            rows="5"
                            placeholder="Ingrese una descripción del producto"
                            required
                            /><%=locals.oldData ? oldData.description : null %></textarea>
                    <% if (locals.errors && errors.description) { %>
                        <p class="text-danger text-start">
                            *<%= errors.description.msg %>
                        </p>
                        <% } %>
                </div>

                <button type="submit" class="btn btn-outline-primary m-auto mb-3 mt-5 w-50 d-block">
                    PUBLICAR
                </button>

                <button type="reset" class="btn btn-outline-primary m-auto w-25 d-block p-1">
                    Limpiar
                </button>
            </form>
        </div>
    </main>
    <footer class="footer-catalogo">
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>