<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <header class="header"><%- include('../partials/header') %></header>
        <main class="d-flex justify-content-center bg-image-create w-100">
            <div class="my-5 text-center w-h-create">
                <h1
                    class="rounded-top-3 text-center container bg-5 mb-0 text-primary"
                >
                    Publica un producto:
                </h1>
                <form
                    action="/products/create"
                    method="post"
                    enctype="multipart/form-data"
                    class="container flex-column bg-5 rounded-bottom-3"
                >
                    <div class="mb-3 text-center">
                        <label for="productName" class="form-label text-primary"
                            >Nombre del producto:</label
                        >
                        <input
                            type="text"
                            name="name"
                            class="form-control text-primary bg-black border-primary"
                            id="productName"
                            placeholder="Ingrese un nombre"
                            required
                        />
                    </div>
                    <div class="mb-3 text-center">
                        <label
                            for="productPrice"
                            class="form-label text-primary"
                            >Precio del producto:</label
                        >
                        <input
                            type="number"
                            name="price"
                            class="form-control text-primary bg-black border-primary"
                            id="productPrice"
                            placeholder="Ingrese un precio"
                            required
                        />
                    </div>
                    <div class="mb-3 text-center">
                        <label
                            for="productBrand"
                            class="form-label text-primary"
                            >Marca del producto:</label
                        >
                        <input
                            type="text"
                            name="brand"
                            class="form-control text-primary bg-black border-primary"
                            id="productBrand"
                            placeholder="Ingrese una marca"
                            required
                        />
                    </div>
                    <div class="mb-3 text-center">
                        <label
                            for="productCategory"
                            class="form-label text-primary"
                            >Categoría:</label
                        >
                        <select
                            class="form-select text-primary bg-black border-primary"
                            aria-label="Default select example"
                            name="category"
                        >
                            <option value="" selected disabled>
                                Sin categoría
                            </option>

                             <% let categories = ["Gel", "Crema", "Pomada", "Tinte", "Shampoo", "Cera", "Laca"]; %> <%
                            for (const oneCategory of categories) { %>
                            <option 
                                    value="<%= oneCategory %>"
                                    <%= locals.oldData && (oneCategory == oldData.category) ? "selected" : null %>
                                > <%= oneCategory %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="my-4 text-center">
                        <label
                            for="enOferta"
                            class="form-check-label text-primary mx-1"
                            >¿Está en oferta?
                        </label>
                        <input
                            type="checkbox"
                            name="inSale"
                            class="form-check-input text-primary bg-black border-primary"
                            id="enOferta"
                            placeholder="Ingrese un precio"
                        />
                        <div class="mt-3 text-center" id="oferta">
                            <label
                                for="productDiscount"
                                class="form-label text-primary"
                                >Descuento de oferta:</label
                            >
                            <div class="d-flex">
                                <input
                                    type="number"
                                    name="discount"
                                    class="form-control text-primary bg-black border-primary"
                                    id="productDiscount"
                                    placeholder="Ingrese un porcentaje"
                                />
                                <p
                                    class="text-primary position-relative porcentaje"
                                >
                                    %
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 text-center">
                        <label
                            for="productImage"
                            class="form-label text-primary"
                            >Imagen del producto:</label
                        >
                        <input
                            type="file"
                            class="form-control text-primary bg-black border-primary"
                            id="productImage"
                            name="image"
                        />
                    </div>
                    <div class="mb-3 text-center">
                        <label
                            for="productDescription"
                            class="form-label text-primary"
                            >Descripción del producto:</label
                        >
                        <textarea
                            name="description"
                            class="form-control text-primary bg-black border-primary"
                            id="productDescription"
                            cols="30"
                            rows="5"
                            placeholder="Ingrese una descripción del producto"
                            required
                        ></textarea>
                    </div>

                    <button
                        type="submit"
                        class="btn btn-outline-primary m-auto mb-3 mt-5 w-50 d-block"
                    >
                        PUBLICAR
                    </button>

                    <button
                        type="reset"
                        class="btn btn-outline-primary m-auto w-25 d-block p-1"
                    >
                        Limpiar
                    </button>
                </form>
            </div>
        </main>
        <footer class="footer-catalogo">
            <%- include('../partials/footer') %>
        </footer>
    </body>
</html>
