<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header class="header"><%- include('../partials/header') %></header>

  <main class="main">
    <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
    <section class="product-detail">
      <div class="product-header">
        <img class="imageProduct" src="images/avatars/<%= product.image %>" alt=" product icon" />
        <h4>$<%= product.price %></h4>
        <a class="button" href="carrito">Comprar ahora</a>
        <a class="button button--cart" href="carrito">Agregar al carrito</a>
      </div>
      <div class="product-additional">
        <h3><%= product.name %></h3>
        <p><%= product.description %></p>
        <h4>Más detalles del producto</h4>

        <% if(product.discount) { %>
        <p class="descuento-ctlgo"><%= product.discount %> de descuento</p>
        <% } %>

        <div class="valoration">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <p class="people-rate">(90)</p>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer-catalogo">
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>