<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <header class="header"><%- include('../partials/header') %></header>
        <main class="d-flex justify-content-center bg-image-register w-100">
            <div class="my-5 text-center w-90">
                <h1
                    class="rounded-top-3 text-center container bg-5 mb-0 text-primary"
                >
                    ¡Bienvenido!
                </h1>
                <form
                    action="/register"
                    method="post"
                    enctype="multipart/form-data"
                    class="container flex-column bg-5"
                    id="register-form"
                >
                    <div class="mb-3 text-center">
                        <label
                            for="registerName"
                            class="form-label text-primary"
                            >Ingresa tu nombre:</label
                        >
                        <input type="text" class="form-control text-primary
                        bg-black border-primary <%= locals.errors && errors.name
                        ? "is-invalid" : null %>" id="registerName"
                        placeholder="Nombre" name="name" value="<%=
                        locals.oldData ? oldData.name : null %>"/> <% if
                        (locals.errors && errors.name) { %>
                        <p class="text-danger text-start">
                            *<%= errors.name.msg %>
                        </p>
                        <% } %>
                    </div>
                    <div class="mb-3 text-center">
                        <label
                            for="registerLastname"
                            class="form-label text-primary"
                            >Ingresa tu apellido:</label
                        >
                        <input type="text" class="form-control text-primary
                        bg-black border-primary <%= locals.errors &&
                        errors.lastname ? "is-invalid" : null %>"
                        id="registerLastname" placeholder="Apellido"
                        name="lastname" value="<%= locals.oldData ?
                        oldData.lastname : null %>"/> <% if (locals.errors &&
                        errors.lastname) { %>
                        <p class="text-danger text-start">
                            *<%= errors.lastname.msg %>
                        </p>
                        <% } %>
                    </div>
                    <div class="mb-3 text-center">
                        <label
                            for="registerUser"
                            class="form-label text-primary"
                            >Ingresa tu nombre de usuario:</label
                        >
                        <input type="text" class="form-control text-primary
                        bg-black border-primary <%= locals.errors &&
                        errors.username ? "is-invalid" : null %>"
                        id="registerUser" placeholder="Usuario" name="username"
                        value="<%= locals.oldData ? oldData.username : null %>"
                        /> <% if (locals.errors && errors.username) { %>
                        <p class="text-danger text-start">
                            *<%= errors.username.msg %>
                        </p>
                        <% } %>
                    </div>
                    <div class="mb-3 text-center">
                        <label
                            for="registerEmail"
                            class="form-label text-primary"
                            >Ingresa tu email:</label
                        >
                        <input type="email" class="form-control text-primary
                        bg-black border-primary <%= locals.errors &&
                        errors.email ? "is-invalid" : null %>"
                        id="registerEmail" placeholder="Email" name="email"
                        value="<%= locals.oldData ? oldData.email : null %>"/>
                        <% if (locals.errors && errors.email) { %>
                        <p class="text-danger text-start">
                            *<%= errors.email.msg %>
                        </p>
                        <% } %>
                    </div>
                    <div class="mb-3 text-center">
                        <label
                            for="registerPassword"
                            class="form-label text-primary"
                            >Ingresa tu contraseña:</label
                        >
                        <input type="password" class="form-control text-primary
                        bg-black border-primary <%= locals.errors &&
                        errors.password ? "is-invalid" : null %>"
                        id="registerPassword" placeholder="Contraseña"
                        name="password" /> <% if (locals.errors &&
                        errors.password) { %>
                        <p class="text-danger text-start">
                            *<%= errors.password.msg %>
                        </p>
                        <% } %>
                    </div>
                    <div class="mb-3 text-center">
                        <label
                            for="registerNumber"
                            class="form-label text-primary"
                            >Ingresa tu número de celular:</label
                        >
                        <input type="number" class="form-control text-primary
                        bg-black border-primary <%= locals.errors &&
                        errors.phone ? "is-invalid" : null %>"
                        id="registerNumber" placeholder="Número de teléfono"
                        name="phone" value="<%= locals.oldData ? oldData.phone :
                        null %>" /> <% if (locals.errors && errors.phone) { %>
                        <p class="text-danger text-start">
                            *<%= errors.phone.msg %>
                        </p>
                        <% } %>
                    </div>
                    <div class="mb-3 text-center">
                        <label
                            for="registerImage"
                            class="form-label text-primary"
                            >Ingresa tu foto de perfil (opcional):</label
                        >
                        <input
                            type="file"
                            class="form-control text-primary bg-black border-primary"
                            id="registerImage"
                            name="avatar"
                        />
                        <% if (locals.errors && errors.avatar) { %>
                        <p class="text-danger text-start">
                            *<%= errors.avatar.msg %>
                        </p>
                        <% } %>
                    </div>

                    <button
                        type="submit"
                        class="btn btn-outline-primary m-auto mb-3 mt-5 w-50 d-block"
                        form="register-form"
                    >
                        REGISTRARSE
                    </button>

                    <button
                        type="reset"
                        class="btn btn-outline-primary m-auto w-25 d-block p-1"
                    >
                        Limpiar
                    </button>
                </form>
            </div>
        </main>
        <footer class="footer-catalogo">
            <%- include('../partials/footer') %>
        </footer>
    </body>
</html>
