<nav
    class="navbar navbar-dark navbar-expand-md bg-black fixed-top"
    style="height: 90px"
>
    <div class="container-fluid">
        <button
            class="navbar-toggler border-1 border-primary"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#staticBackdrop"
            aria-controls="staticBackdrop"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
            class="offcanvas offcanvas-start bg-black"
            data-bs-backdrop="static"
            tabindex="-1"
            id="staticBackdrop"
            aria-labelledby="staticBackdropLabel"
        >
            <div class="offcanvas-header">
                <h5
                    class="offcanvas-title row align-items-center text-white"
                    id="staticBackdropLabel"
                >
                    <img
                        src="/images/icons/logo-letra-negro.svg"
                        alt="Logo Hair Cut"
                        style="width: 75px"
                    />
                    Hair Cut
                </h5>
                <button
                    type="button"
                    class="btn-close btn-close-white"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"
                ></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/carrito">Carrito</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/turnos">Turnos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            Productos
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <a class="dropdown-item" href="/products"
                                    >Productos destacados</a
                                >
                            </li>
                            <li>
                                <a class="dropdown-item" href="/products"
                                    >Productos en oferta</a
                                >
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li>
                                <a class="dropdown-item" href="/products"
                                    >Todos los productos</a
                                >
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <a href="/">
            <img
                src="/images/icons/logo-letra-negro.svg"
                alt="Logo barbería"
                style="width: 75px"
                class="position-absolute top-50 start-50 translate-middle"
            />
        </a>
        <button
            class="navbar-toggler-2"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#loginButton"
            aria-controls="staticBackdrop"
        >
            <i class="fa-solid fa-user header-user active-icons"></i>
        </button>
        <div
            class="offcanvas-xl offcanvas-end bg-black"
            data-bs-backdrop="static"
            tabindex="-1"
            id="loginButton"
            aria-labelledby="staticBackdropLabel"
        >
            <div class="offcanvas-header">
                <h5
                    class="offcanvas-title row align-items-center text-white"
                    id="staticBackdropLabel"
                >
                    <img
                        src="/images/icons/logo-letra-negro.svg"
                        alt="Logo barbería"
                        style="width: 75px"
                    />
                    Hair Cut
                </h5>
                <button
                    type="button"
                    class="btn-close btn-close-white"
                    data-bs-dismiss="offcanvas"
                    data-bs-target="#loginButton"
                    aria-label="Close"
                ></button>
            </div>
            <form role="login" action="/login" method="post" id="login-form">
                <div class="offcanvas-body">
                    <ul class="navbar-nav nav-labels flex-grow-1 pe-3">
                        <% if (locals.isLogged) { %>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="dropUser"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                <img
                                    src="/images/avatars/<%= userLogged.avatar %>"
                                    width="40"
                                    style="border-radius: 100%"
                                />
                                Hi <%= userLogged.name %>
                            </a>
                            <ul
                                class="dropdown-menu"
                                aria-labelledby="navbarDropdown"
                            >
                                <a class="dropdown-item" href="/profile"
                                    >My profile</a
                                >
                                <li><hr class="dropdown-divider" /></li>
                                <a class="dropdown-item" href="/logout"
                                    >Logout</a
                                >
                            </ul>
                        </li>
                        <% } else { %>
                        <div class="navbar-form">
                            <input class="form-control me-2 p-1 navbar-input
                            bg-black text-primary <%= locals.errors &&
                            errors.login ? "is-invalid" : null %>" type="text"
                            placeholder="Email/Usuario" aria-label="login"
                            name="login" required value="<%= locals.oldData ?
                            oldData.login : null %>"/> <input
                            class="form-control me-2 p-1 navbar-input bg-black
                            text-primary <%= locals.errors &&
                            errors.loginPassword ? "is-invalid" : null %>"
                            type="password" required placeholder="Contraseña"
                            aria-label="login" name="loginPassword" />
                            <button
                                class="btn btn-outline-primary"
                                type="submit"
                                form="login-form"
                            >
                                Ingresar
                            </button>
                            <div class="text-white mt-2 registrate">
                                <input
                                    id="RememberUser"
                                    name="session"
                                    type="checkbox"
                                    class="form-check-input text-primary bg-black border-primary mt-1 p-2"
                                />
                                <label for="RememberUser"
                                    >Recordar usuario</label
                                >
                                <p class="mt-3">
                                    ¿No tenés cuenta?
                                    <a href="/register" class="link-primary"
                                        >Regístrate aquí</a
                                    >
                                </p>
                                <% if (locals.errors && errors.login) { %>
                                <span class="text-danger d-block">
                                    *<%= errors.login.msg %>
                                </span>
                                <% } %> <% if (locals.errors &&
                                errors.loginPassword) { %>
                                <span class="text-danger d-block">
                                    *<%= errors.loginPassword.msg %>
                                </span>
                                <% } %>
                            </div>
                        </div>
                        <% } %>
                    </ul>
                </div>
                <% if (!locals.isLogged) { %>
                <div class="d-flex">
                    <p class="text-white m-0 registrate-xl">
                        <% if (locals.errors && errors.login) { %>
                        <span class="text-danger d-block">
                            *<%= errors.login.msg %></span
                        >
                        <% } %> <% if (locals.errors && errors.loginPassword) {
                        %>
                        <span class="text-danger d-block">
                            *<%= errors.loginPassword.msg %></span
                        >
                        <% } %>
                        <input
                            id="RememberUser2"
                            name="session2"
                            type="checkbox"
                            class="form-check-input text-primary bg-black border-primary mt-1 p-2"
                        />
                        <label for="RememberUser2">Recordar usuario</label>
                    </p>
                    <p class="text-white m-0 registrate-xl m-auto">
                        ¿No tenés cuenta?
                        <a href="/register" class="link-primary"
                            >Regístrate aquí</a
                        >
                    </p>
                </div>
                <% } %>
            </form>
        </div>
    </div>
</nav>
<div style="margin-bottom: 85px"></div>
