
    <h2 class="titulos-home">OFERTAS SEMANAL</h2>
   
<div class="home-ofertas"> 
  <% for(const oneProduct of topThreeProducts){ %>

  <article class="articulo-venta-catalogo">
    <a href=" /products/details/<%= oneProduct.id %>">
    <img src="<%= oneProduct.image %>" alt="" class="imagen-articulo-catalogo" />
    <div class="info-catalogo">
      <p class="precio-ctlgo">
        <%= oneProduct.price %>
      </p>
      <p class="descuento-ctlgo">
        <%= oneProduct.discount %>
      </p>
      <p class="descripcion-ctlgo">
        <%= oneProduct.description %>
      </p>
    </div>
  </a>
  </article>
<% } %>
</div>
