
<h2 class="titulos-home">OFERTA SEMANAL</h2>

<div class="container-120">
  <section class="catalogue">
      <div class="catalogue-products-container">
        <% for(oneProduct of topThreeProducts) { %>
              <article class="catalogue-product">
                  <a href="/products/details/<%= oneProduct.id %>">
                      <div class="catalogue-product-content">
                          <div class="catalogue-product-image">
                              <img class="img-w100" src="<%= oneProduct.image %>" alt="product icon">
                          </div>
                          <div class="catalogue-product-info">
                                  <del><p class="catalogue-product-old-price">$<%= oneProduct.price %></p></del>
                                  <span class="catalogue-product-price">$<%= oneProduct.price - oneProduct.price * oneProduct.discount / 100%></span><small class="catalogue-product-discount"><%= oneProduct.discount %>% OFF</small>
                                  <p class="catalogue-product-shipping">Envío gratis</p>
                                  <h3 class="catalogue-product-name"><%= oneProduct.name %></h3>
                          </div>
                      </div>
                  </a>
              </article>
        <% } %>
      </div>
  </section>
</div>
