<div class="ads-banner"></div>
<div class="container-120">
  <section class="catalogue">
    <h2 style="font-size: 1.6rem; text-align: center; margin-top: 5rem; text-transform: uppercase">Productos destacados</h2>
    <div class="catalogue-products-container">
      <% for(let i = 0; i < 3; i++) { %>
            <article class="catalogue-product">
                <a href="/products/details/<%= products[arrayVacio[i]].id %>">
                  <div class="catalogue-product-content">
                      <div class="catalogue-product-image">
                          <img class="img-w100" src="<%= products[arrayVacio[i]].image %>" alt="product icon">
                      </div>
                      <% if(products[arrayVacio[i]].discount) { %>
                        <div class="catalogue-product-info">
                            <del><p class="catalogue-product-old-price">$<%= products[arrayVacio[i]].price %></p></del>
                            <span class="catalogue-product-price">$<%= products[arrayVacio[i]].price - products[arrayVacio[i]].price * products[arrayVacio[i]].discount / 100%></span><small class="catalogue-product-discount"><%= products[arrayVacio[i]].discount %>% OFF</small>
                            <p class="catalogue-product-shipping">Envío gratis</p>
                            <h3 class="catalogue-product-name" style="text-transform: capitalize;"><%= products[arrayVacio[i]].name %></h3>
                        </div>
                      <% } else { %>
                        <div class="catalogue-product-info">
                            <span class="catalogue-product-price">$<%= products[arrayVacio[i]].price%></span>
                            <p class="catalogue-product-shipping">Envío gratis</p>
                            <h3 class="catalogue-product-name" style="text-transform: capitalize;"><%= products[arrayVacio[i]].name %></h3>
                        </div>
                      <% } %>
                  </div>
                </a>
            </article>
      <% } %>
    </div>
  </section>

  <section class="catalogue">
    <h2 style="font-size: 1.6rem; text-align: center; margin-top: 5rem; text-transform: uppercase">Productos en oferta</h2>
    <div class="catalogue-products-container">
      <% for(let i = 0; i < ofertas.length; i++) { %>
            <article class="catalogue-product">
                <a href="/products/details/<%= ofertas[i].id %>">
                  <div class="catalogue-product-content">
                      <div class="catalogue-product-image">
                          <img class="img-w100" src="<%= ofertas[i].image %>" alt="product icon">
                      </div>
                      <div class="catalogue-product-info">
                          <del><p class="catalogue-product-old-price">$<%= ofertas[i].price %></p></del>
                          <span class="catalogue-product-price">$<%= ofertas[i].price - ofertas[i].price * ofertas[i].discount / 100%></span><small class="catalogue-product-discount"><%= ofertas[i].discount %>% OFF</small>
                          <p class="catalogue-product-shipping">Envío gratis</p>
                          <h3 class="catalogue-product-name" style="text-transform: capitalize;"><%= ofertas[i].name %></h3>
                      </div>
                  </div>
                </a>
            </article>
      <% } %>
    </div>
  </section>

  <section class="catalogue">
    <h2 style="font-size: 1.6rem; text-align: center; margin-top: 5rem; text-transform: uppercase">Todos los productos</h2>
      <div class="catalogue-products-container">
        <% for(let i = 0; i < products.length; i++) { %>
              <article class="catalogue-product">
                  <a href="/products/details/<%= products[i].id %>">
                    <div class="catalogue-product-content">
                        <div class="catalogue-product-image">
                            <img class="img-w100" src="<%= products[i].image %>" alt="product icon">
                        </div>
                        <% if(products[i].discount) { %>
                            <div class="catalogue-product-info">
                                <del><p class="catalogue-product-old-price">$<%= products[i].price %></p></del>
                                <span class="catalogue-product-price">$<%= products[i].price - products[i].price * products[i].discount / 100%></span><small class="catalogue-product-discount"><%= products[i].discount %>% OFF</small>
                                <p class="catalogue-product-shipping">Envío gratis</p>
                                <h3 class="catalogue-product-name" style="text-transform: capitalize;"><%= products[i].name %></h3>
                            </div>
                        <% } else { %>
                            <div class="catalogue-product-info">
                                <p></p>
                                <span class="catalogue-product-price">$<%= products[i].price%></span>
                                <p class="catalogue-product-shipping">Envío gratis</p>
                                <h3 class="catalogue-product-name" style="text-transform: capitalize;"><%= products[i].name %></h3>
                            </div>
                        <% } %>
                    </div>
                  </a>
              </article>
        <% } %>
      </div>
  </section>
</div>